/* Couleur pour "En cours" */
.status-en-cours {
    background-color: rgb(233, 177, 72);
    color: white;
    width: 50%;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
  }
  
  /* Couleur pour "Accepté" */
  .status-accepte {
    background-color: rgb(75, 224, 75);
    color: white;
    width: 50%;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
  }
  
  /* Couleur pour "Refusé" */
  .status-refuse {
    background-color: #f95454;
    color: white;
    width: 50%;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
  }


  .sort-options {
    margin-bottom: 15px;
    margin-left: 80%;
  }
  
  .sort-options label {
    margin-right: 10px;
    font-weight: bold;
  }
  
  .sort-options select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    outline: none;}
